body{
    background-color: white;
    background-color: rgba(214, 8, 221, 0.692);
}

header{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.281);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    

    form{
       
        display: contents;
        align-content: center;
        align-items: center;
        justify-content: center;
    
    }

    input{
        height: 30px;
        border: 2mm ridge rgba(0, 0, 0, 0.781);
        
    }

    button{
        height: 35px;
        border-radius: 10%;
        border: dashed rgb(138, 43, 226);
    }

    section{
        background-color: rgb(0, 0, 0, 0);
        display: block;
        align-items: center ;
    }

    h1{
        color: white;
    }
}

img{
    height: 25rem;
    text-align: center;
}

div{
   text-align: center;

}
